//
   Created by carolineperier on 12/05/2017.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        ul
            li  This is the show page
            p ID passed:
            p= id


        block content